*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.kotlin/
DataScripts/__pycache__/
DataScripts/tempCodeRunnerFile.py
DataScripts/venv/
data/.~lock.db-preload.xlsx#
notes/.obsidian/
notes/Tasks.md

